body{
    margin: 0;
    background-color:white;
}

header{
    background-color: green;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    

}

nav{
    overflow: hidden;
    background-color: rgb(90, 40, 40);
}
nav a{
    float: left;
    color: white;
    padding: 20px 10px 11px 14px;
    text-decoration: none;

}
nav a:hover{
    background-color: black;
    color:blue;

}

.column{
    float: left;
    padding: 0px;
}

.column.side{

    width: 10%;

}

.column.middle{
    width :50%
}

@media screen and (max-width:617px) {
    .column.side,.column.middle{
        width:100%
    }
    
}

footer{
    background-color: green;
    padding: 20px;
    text-align: center;
    color: white;
}